.heading {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    
}
ul {
    display: flex;
    gap: 12px;
    list-style-type: none;
}
.box1txt {
    font-weight: bold;
}
body {
    display: flex;
    justify-content: center;
    flex-direction: column;
}
