.heading {
    background-color: darkgray;
    display: flex;
    justify-content: center;
    gap: 15%;
    
}
ul {
    display: flex;
    gap: 12px;
    list-style-type: none;
}

a {
    text-decoration: none;
}
body {
    flex-direction: column;
}
.content {
    align-items: center;
}

.heading, .box1 {
    
}
.box1 {
    background-color: darkgrey;
}